.ContainerMapExperience{
    display: flex;
    width: 100vw;
    gap: 80px;

    .carousel-container{
        width: 80vw;
    }

.Exp-container{
    width: 100%;
    text-align: center;
    padding: 30px 10px;
    line-height: 50px;
    
    
    
    h3{
        font-size: 20px;
        color: #61DBFB;
    }
    p{
        line-height: 25px;
font-size: 15px;
        span{
            color: #61DBFB;
        }
    }
}}