.Home {
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 14%;
  padding: 50px 80px;
  z-index: 0;

  .Coucou {
    margin: 0 10.5%;
    height: 80px;
    width: 66.5%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 40px;

    section {
      width: 40%;
      color: #ffa317;
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      letter-spacing: 0.1em;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -ms-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transform: scaleY(150%);
    }
    section:hover {
      letter-spacing: normal;
    }
  }

  .Container-Projet {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 30px;
    padding: 20px 0;

    .Projet1 {
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(./coworking-1.jpg);
      background-size: cover;
      transition: 0.7s ease-in-out;
background-color: black;
      color: black;
      border: 2px solid white;
      font-size: 15px;
      cursor: pointer;
      position: relative;

      h1 {
        position: absolute;
        top: 70px;
        color: white;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
      }
      p {
        position: absolute;
        top: 12%;
        color: white;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
      }
    }
    .Projet2 {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: 0.7s ease-in-out;
      background-image: url(./fond_radio_2.png);
      background-size: cover;
      background-position: center;
      color: black;
      border: 2px solid white;
      cursor: pointer;
      position: relative;
      background-color: black;
      h1 {
        position: absolute;
        top: 70px;
        font-size: 20px;
      }
      p {
        position: absolute;
        top: 12%;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
      }
    }
    .Projet3 {
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: black;
      border: 2px solid white;
      font-size: 15px;
      transition: 0.7s ease-in-out;
      cursor: pointer;
      position: relative;
      img {
        width: 50%;
      }
      h1 {
        position: absolute;
        top: 70px;
        color: white;
        font-weight: 400;
        font-size: 20px;
      }
      p {
        position: absolute;
        top: 12%;
        color: white;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
      }
    }
    .Projet3:hover {
      transform: scale(1.1);
      background-image: none;
      background-color: rgba(0, 0, 0, 0.301);
      backdrop-filter: blur(5px);
    }

    .Projet2:hover{
      transform: scale(1.1);
      background-image: none;
      background-color: rgba(0, 0, 0, 0.301);
      backdrop-filter: blur(5px);
      color: white;
      font-weight: 400;
    }

    .Projet1:hover {
      transform: scale(1.1);
      background-image: none;
      background-color: rgba(0, 0, 0, 0.301);
      backdrop-filter: blur(5px);

    }

    img {
      width: 80%;
    }
  }
}

@media screen and (max-width: 1920px) {
  .Home {
    .Coucou {
      margin: 0 8.5%;
      width: 72%;

      section {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .Home {
    .Coucou {
      margin: 0 6.2%;
      width: 72%;

      section {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .Home {
    .Coucou {
      margin: 10% 2%;
      width: 72%;

      section {
        width: 80%;
      }
    }
    .Container-Projet {
      .Projet1 {
        width: 20%;
        height: 60%;
      }
      .Projet2 {
        width: 20%;
        height: 60%;
      }
      .Projet3 {
        width: 20%;
        height: 60%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Home {
    padding: 0px 30px;

    .Coucou {
      margin: 20% auto;
      width: 100%;
      text-align: right;

      section {
        width: 100%;
      }
    }
    .Container-Projet {
      .Projet1 {
        width: 30%;
        height: 50%;
        h1 {
          top: 50px;
          font-size: 13px;
        }
      }
      .Projet2 {
        width: 30%;
        height: 50%;
        h1 {
          top: 50px;
          font-size: 13px;
        }
      }
      .Projet3 {
        width: 30%;
        height: 50%;
        h1 {
          top: 50px;
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .Home {
    .Coucou {
      margin: 50% -5%;
      width: 50vw;
      height: 15vh;
      text-align: left;

      section {
        width: 70vw;
        font-size: 18px;
      }
    }
    .Container-Projet {
      top: 30%;
      width: 100%;
      height: 100%;
      flex-direction: column;
      .Projet1 {
        width: 80%;
        height: 80%;
        h1 {
          top: 10px;
          font-size: 13px;
        }
      }
      .Projet2 {
        width: 80%;
        height: 80%;
        h1 {
          top: 10px;
          font-size: 13px;
        }
      }
      .Projet3 {
        width: 80%;
        height: 80%;
        h1 {
          top: 10px;
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .Home {
    .Coucou {
      margin: 55% -5%;
      width: 50vw;
      height: 15vh;
      text-align: left;

      section {
        width: 70vw;
        font-size: 18px;
      }
    }
  }
}
