.Home {
  width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 14%;
  z-index: 0;
  animation : Presentation-anim 0.5s forwards;
  transition: 0.5s ease-in-out;

@keyframes Presentation-anim {
  from {
transform: translateY(-100%);
  } to {
    transform: translateY(0%);
  }
  
}
  .Coucou {
    margin: 0;
    height: 80px;
    width: 66.5%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 40px;

    section {
      width: 40%;
      color: #ffa317;
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      letter-spacing: 0.1em;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -ms-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transform: scaleY(150%);
    }
    section:hover {
      letter-spacing: normal;
    }
  }

  .Container-Projet {
    width: 100%;
    position: absolute;
    top: calc((100% - 348px)/2);
    left: -5%;
    font-size: 30px;
  }
}

@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 425px) {
  
}

@media screen and (max-width: 375px) {
  .Home{
    position: initial;
    width: 100%;
    margin-top: 10px;
    overflow: scroll;
    .Coucou {
      width: 100%;
      font-size: 16px;
      line-height: 20px;
row-gap: 10px;
padding-left: 0%;
padding-bottom: 5%;
transform: scaleY(130%);
letter-spacing: 0.1em;
text-align: center;
      section{
        width: 100%;
        font-size: 16px;
      }
    }

    .Container-Projet {
      position: initial;
      height: 0;
    }
  }
}
