.Home {
  width: 85%;
  height: 100vh;
  margin-left: 15%;
  position: absolute;
  top: 0;
  padding: 50px 80px;

  .Coucou{
    height: 80px;
width: 73.5%;
padding: 5px;
margin-left: 11.1%;
font-size: 20px;
display: flex;
justify-content: center;
flex-direction: column;
line-height: 30px;

  }
span{
  color: #ffa317;
}


}

.Container-Projet {
  width: 88%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  padding: 20px 0;
  

  .Projet1 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./coworking-1.jpg);
    background-size: cover;
    transition: 0.7s ease-in-out;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    color: black;
    border: 2px solid white;
    font-size: 15px;
    cursor: pointer;
    
  }
  .Projet2 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    transition: 0.7s ease-in-out;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    background-image: url(./fond_radio_2.png);
    background-size: cover;
    background-position: center;
    color: black;
    border: 2px solid white;
    font-size: 15px;
    cursor: pointer;

    p {
      position: relative;
      top: 50px;
    }
  }
  .Projet3 {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid white;
    font-size: 15px;
    transition: 0.7s ease-in-out;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    cursor: pointer;
    img {
      width: 50%;
    }
    p {
      position: relative;
      top: 60px;
    }
  }
  .Projet3:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  .Projet2:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  .Projet1:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

  img {
    width: 80%;
  }
}
