.Container-Presentation-page{
        width: 80vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 14%;
  
    .Container-presentation {
        width: 80vw;
  height: 100vh;
  border: 1px solid red;
  
        h1{
        color: #ffa317;
      font-family: "Oswald", sans-serif;
      font-size: 30px;
      letter-spacing: 0.1em;
      transform: scaleY(140%);
      border: 1px solid red;
      padding: 5px;
    }
    h2{
      color: #596475;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    letter-spacing: 0.1em;
    transform: scaleY(140%);
    border: 1px solid red;
    padding: 5px;
  }
  .Logo-competence {
    border: 1px solid red;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 5%;
      
      align-items: center;

      
    }
  }
  }
}